{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name = "author" content = "Eshan Tewari">

<title>The 2016 SGA Election</title>
<!-- styling -->
<!-- http://colorschemedesigner.com/#2q21Tw0w0w0w0 -->
<link href="http://fonts.googleapis.com/css?family=Overlock|Lily+Script+One|Oxygen|Questrial" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="{% static 'polls/css/styles.css' %}">
</head>
<body>
<p>Please Use Your School Username and Password.  And don't test the system.  I will find you. </p>
<div id="input">
<form action="{% url 'polls:authenticate' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>
